body {
    color: red; /* color de texto */ 
    background-color: blanchedalmond;
    /* 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    */
}

/* comentarios en css */ 
/*
.ol-bloque {
    color:green;
    background-color: lightblue;
    padding: 10px;
}
*/

